{
  "env": {
    // Проект для браузера
    "browser": true,
    // Включаем возможности ES6
    "es6": true,
    // Добавляем возможности ES2017
    "es2017": true
  },
  "extends": ["airbnb", "airbnb/hooks"]
}
