[submodule "namespace/scope/soundcheckbox/soundcheckbox.github.io.git"]
	path = namespace/scope/soundcheckbox/soundcheckbox.github.io.git
	url = https://github.com/soundcheckbox/soundcheckbox.github.io.git
[submodule "namespace/scope/soundcheckbox/assets"]
	path = namespace/scope/soundcheckbox/assets
	url = https://github.com/soundcheckbox/assets.git
[submodule "namespace/scope/soundcheckbox/login"]
	path = namespace/scope/soundcheckbox/login
	url = https://github.com/soundcheckbox/login.git
[submodule "node/soundcheckbox/api"]
	path = node/soundcheckbox/api
	url = https://github.com/soundcheckbox/api.git
[submodule "namespace/scope/NadyaRakhmanova.github.io"]
	path = namespace/scope/NadyaRakhmanova.github.io
	url = https://github.com/NadyaRakhmanova/NadyaRakhmanova.github.io.git
[submodule "node/tera"]
	path = node/tera
	url = https://gitlab.com/terafoundation/tera2.git
[submodule "namespace/scope/soundcheckbox/admin/design"]
	path = namespace/scope/soundcheckbox/admin/design
	url = https://github.com/NadyaRakhmanova/admin-design.git
[submodule "modules/merkle-tools"]
	path = modules/merkle-tools
	url = https://github.com/zababurinsv/merkle-tools.git
[submodule "modules/tests"]
	path = modules/tests
	url = https://github.com/zababurinsv/newkind-tests.git
[submodule "modules/consensus"]
	path = modules/consensus
	url = https://github.com/zababurinsv/consensusjs.git
[submodule "tests/database/orbit-db-test-utils"]
	path = tests/database/orbit-db-test-utils
	url = https://github.com/zababurinsv/orbit-db-test-utils.git
[submodule "node/tunnel"]
	path = node/tunnel
	url = https://github.com/zababurinsv/tunnel-reverse.git
[submodule "node/signal"]
	path = node/signal
	url = https://github.com/zababurinsv/server-signal.git
[submodule "node/radio"]
	path = node/radio
	url = https://github.com/soundcheckbox/server-radio.git
[submodule "node/webdav"]
	path = node/webdav
	url = https://github.com/zababurinsv/server-webdav.git
[submodule "node/org"]
	path = node/org
	url = https://github.com/zababurinsv/server-org.git
[submodule "node/account"]
	path = node/account
	url = https://github.com/zababurinsv/server-account-cjs.git
[submodule "node/mongo"]
	path = node/mongo
	url = https://github.com/zababurinsv/server-mongo-cjs.git
[submodule "node/feed"]
	path = node/feed
	url = https://github.com/zababurinsv/server-feed-cjs.git
[submodule "namespace/config"]
	path = namespace/config
	url = https://github.com/zababurinsv/config.git
[submodule "namespace/scope/soundcheckbox/events"]
	path = namespace/scope/soundcheckbox/events
	url = https://github.com/soundcheckbox/events.git
[submodule "namespace/scope/soundcheckbox/profile"]
	path = namespace/scope/soundcheckbox/profile
	url = https://github.com/soundcheckbox/profile.git
[submodule "namespace/scope/soundcheckbox/pub"]
	path = namespace/scope/soundcheckbox/pub
	url = https://github.com/soundcheckbox/pub.git
[submodule "namespace/scope/soundcheckbox/riders"]
	path = namespace/scope/soundcheckbox/riders
	url = https://github.com/soundcheckbox/riders.git
[submodule "namespace/scope/soundcheckbox/editor"]
	path = namespace/scope/soundcheckbox/editor
	url = https://github.com/soundcheckbox/editor.git
[submodule "namespace/scope/soundcheckbox/presets"]
	path = namespace/scope/soundcheckbox/presets
	url = https://github.com/soundcheckbox/presets.git
[submodule "namespace/scope/soundcheckbox/save"]
	path = namespace/scope/soundcheckbox/save
	url = https://github.com/soundcheckbox/save.git
[submodule "namespace/scope/soundcheckbox/lang"]
	path = namespace/scope/soundcheckbox/lang
	url = https://github.com/soundcheckbox/lang.git
[submodule "node/blender"]
	path = node/blender
	url = https://github.com/soundcheckbox/blender.git
[submodule "node/migration"]
	path = node/migration
	url = https://github.com/soundcheckbox/migration.git
[submodule "namespace/scope/presets"]
	path = namespace/scope/presets
	url = https://github.com/soundcheckbox/presets.git
[submodule "node/ob"]
	path = node/ob
	url = https://github.com/zababurinsv/workspace-ob.git
[submodule "namespace/scope/auction"]
	path = namespace/scope/auction
	url = https://github.com/soundcheckbox/auction.git
[submodule "namespace/scope/radio"]
	path = namespace/scope/radio
	url = https://github.com/soundcheckbox/radio.git
[submodule "namespace/scope/audio-player"]
	path = namespace/scope/audio-player
	url = https://github.com/soundcheckbox/audio-player.git
[submodule "namespace/scope/warehouse"]
	path = namespace/scope/warehouse
	url = https://github.com/soundcheckbox/warehouse.git
[submodule "namespace/scope/booking"]
	path = namespace/scope/booking
	url = https://github.com/soundcheckbox/booking.git
[submodule "namespace/scope/raft"]
	path = namespace/scope/raft
	url = https://github.com/pgte/skiff.git
[submodule "namespace/scope/monopoly/index"]
	path = namespace/scope/monopoly/index
	url = https://github.com/zababurinsv/monopoly.git
[submodule "namespace/scope/monopoly/client"]
	path = namespace/scope/monopoly/client
	url = https://github.com/zababurinsv/monopoly-await.git
[submodule "namespace/scope/monopoly/player"]
	path = namespace/scope/monopoly/player
	url = https://github.com/zababurinsv/monopoly-player.git
[submodule "namespace/scope/dag"]
	path = namespace/scope/dag
	url = https://github.com/erikbrinkman/d3-dag.git
