[submodule "namespace/scope/soundcheckbox/soundcheckbox.github.io.git"]
	path = namespace/scope/soundcheckbox/soundcheckbox.github.io.git
	url = https://github.com/soundcheckbox/soundcheckbox.github.io.git
[submodule "namespace/scope/soundcheckbox/assets"]
	path = namespace/scope/soundcheckbox/assets
	url = https://github.com/soundcheckbox/assets.git
[submodule "namespace/scope/soundcheckbox/login"]
	path = namespace/scope/soundcheckbox/login
	url = https://github.com/soundcheckbox/login.git
[submodule "node/soundcheckbox/api"]
	path = node/soundcheckbox/api
	url = https://github.com/soundcheckbox/api.git
[submodule "namespace/scope/NadyaRakhmanova.github.io"]
	path = namespace/scope/NadyaRakhmanova.github.io
	url = https://github.com/NadyaRakhmanova/NadyaRakhmanova.github.io.git
[submodule "node/empera"]
	path = node/empera
	url = https://gitlab.com/terafoundation/tera2.git
