[submodule "soundcheckbox.github.io"]
	path = io/pages/soundcheckbox/soundcheckbox.github.io
	url = https://github.com/soundcheckbox/soundcheckbox.github.io.git
[submodule "assets"]
	path = io/pages/soundcheckbox/assets
	url = https://github.com/soundcheckbox/assets.git
[submodule "login"]
	path = io/pages/soundcheckbox/login
	url = https://github.com/soundcheckbox/login.git
[submodule "api"]
    path = node/soundcheckbox/api
    url = https://github.com/soundcheckbox/api.git
[submodule "NadyaRakhmanova.github.io"]
	path = io/pages/NadyaRakhmanova.github.io
	url = https://github.com/NadyaRakhmanova/NadyaRakhmanova.github.io.git
[submodule "node/tera"]
	path = node/tera
	url = https://gitlab.com/terafoundation/tera2.git
